/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Lato:ital,wght@1,900&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

:root {
    --light-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #2b303218;
    --text-color: #ff686b;
    --lato:"lato", sans-serif;
    --bebas-neue:"bebas-neue", cursive;
    --bangers:"bangers", cursive;
    --permanent-marker:"permanent-marker", cursive;
    --luckiest-guy:"luckiest-guy", cursive; 

}

.primary-color {
    color: var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color)!important;
}

.text-color{
    color:var(--text-color);
}

.font-lato{
    font-family: var(--lato);
}

.font-bebas-neue{
    font-family: var(--bebas-neue);
}

.font-bangers{
    font-family: var(--bangers);
}

.font-permanent-marker{
    font-family: var(--permanent-marker);
}

.font-luckiest-guy{
    font-family: var(--luckiest-guy);
}

.lightblue{
    color: lightblue;
}

/* header */

header{
    background-color: var(--primary-color);
    font-family: var(--bangers);
}

header .site-title{
    font-family: var(--permanent-marker);
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}